:root {
    --yellow: #EDE5BB;
    --blue: #00657C;
    --red: #95261F;
}

@font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: "Caveat";
    src: url(../fonts/caveat.regular.ttf);
}

.aboutus
{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 673px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

body
{
    margin: 0;
    background-color: var(--yellow);
    background-image: url(../Img/aboutus-foto.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.frenchflag1
{
    display: grid;
    grid-row: 1 / 2
}

.frenchflag2
{
    display: grid;
    grid-row: 3
}

.container
{
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    justify-content: center;
    align-items: center;
}

.text
{
    height: 560px;
    width: 1000px;
    background-color: var(--yellow);
    border-radius: 30px;
    text-align: center;

}

h1
{
    font-family: "Caveat";
    font-size: 56px;
    font-weight: normal;
    color: var(--blue);
    margin: 10px;
}

p
{
    font-family: "Caveat";
    font-size: 32px;
    margin: 10px
}


