*
{
    box-sizing: border-box;
}

:root
{
    --yellow: #EDE5BB;
    --blue: #00657C;
    --red: #95261F;
}

body{
    margin: 0;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: "Caveat";
    src: url(../fonts/caveat.regular.ttf);
}

header
{
    width: 100%;
    height: auto;
    position: relative;
}

.oui_koffie
{
    width: 60px;
    height: 60px;
}

.oui_logo
{
    width: 75px;
    height: 65px;
    position: absolute;
    top: 20px;
    left: 82px;
}

.login-logo
{
    position: absolute;
    top: 25%;
    right: 3%;
    height: 40px;  
}

.logout-logo
{
    position: absolute;
    top: 25%;
    right: 3%;
    height: 40px;  
}

.page_logo
{
    display: flex;
    justify-content: space-around;
    width: 150px;
    align-items: center;
}

.homepage_foto
{
    width: 100%;
}

.nav_line_top
{   
    padding: 2px;
    height: 2px;
    border-radius: 10%;
    justify-content: center;
    background-color: var(--blue);
}

.nav_line_bottom
{
    height: 2px;
    padding: 2px;
    position: relative;
    background-color: var(--blue);
}

.link
{
    display: flex;
    margin-left: 30%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

li
{
    list-style: none;
    max-height: 100%;
    text-decoration: none;
    color: var(--blue);
    font-size: 19px;
    font-family: "Circular", "Caveat", sans-serif;
}

.nav-link
{
    text-decoration: none;
    color: var(--blue);
    font-size: 19px;
    font-family: "Circular", "Caveat", sans-serif;
}

.logout-logo-a
{
    text-decoration: none;
    color: var(--blue);
    font-size: 19px;
    font-family: "Circular", "Caveat", sans-serif;
}

li > a:hover
{
    color: var(--red);
    border-bottom: var(--red) 1px solid;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: right;
}

nav
{
    width: 100%;
    height: 120px;
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--yellow);
    z-index: 10;
    margin-right: 0;
    border-bottom: 4px solid var(--blue);
    align-items: center;
}

nav > *, .page_logo {
    margin-bottom: 10px;
}

.nav_line_top
{
    position: absolute;
    width: 95%;
    top: 8px;
    left: 20px;
    border-radius: 20px;
}

.nav_line_bottom
{
    position: absolute;
    width: 95%;
    top: 85px;
    left: 20px;
    border-radius: 20px;
}

.socials
{
    display: flex;
    position: absolute;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    gap: 10px;
    background-color: var(--yellow);
    border-top: 4px solid var(--blue);
    z-index: 10;
}

.facebook-foto
{
    margin-top: 5%;
}

.insta-foto
{
    margin-top: 5%;
}

.twitter-foto
{
    margin-top: 5%;
}


.homepage_box
{
    background-image: url("../img/homepage-foto.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin-top: 90px;
    position: relative;
    display: block;
}

.homepage_foto
{
    height: auto
}

.homepage_content
{
    width: 550px;
    height: auto;
    position: absolute;
    top: 130px;
    left: 100px;
    background-color: var(--yellow);
    color: black;
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
    border-radius: 15px;
    margin: 20px;
}

.home_titel
{
    color: black;
    font-size: 32px;
    font-family: "Circular", "Caveat", sans-serif;
    margin: 20px;
}

.home_text
{
    color: black;
    font-size: 18px;
    font-family: "Circular", "Caveat", sans-serif;
    margin-bottom: 20px;
}

.ondek_meer
{
    width: 150px;
    height: 45px;
    border-radius: 25px;
    align-content: center;
    background-color: var(--blue);
}

.ondek_meer > :hover
{
    background-color: var(--red);
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.ondek_meer_text
{
    color: var(--yellow);
}

