:root
{
    --yellow: #EDE5BB;
    --blue: #00657C;
    --red: #95261F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header
{
    width: auto;
    height: 100vh;
    background-color: var(--yellow);
}

.oui_koffie
{
    width: 50px;
    height: 50px;
}

.oui_logo
{
    width: 50px;
    height: 50px;
}

.login-logo
{
    width: 40px;
    height: 40px;
    align-items: center;
}

.homepage_foto
{
    width: 100%;
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: "Caveat";
    src: url(../fonts/caveat.regular.ttf);
}

ul
{
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

li
{
    list-style: none;
    max-height: 100%;
}

a
{
    text-decoration: none;
    color: var(--blue);
    font-size: 1rem;
}

a:hover
{
    color: var(--red);
}

.navbar
{
    width: 100%;
    height: 60px;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    margin-top: 10px;
    justify-content: space-between;
}

.link
{
    display: flex;
    gap: 2rem;
}

hr
{
    padding: 2px;
    background-color: var(--blue);
}

.homepage
{
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
    position: relative;
}

.homepage_text
{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: var(--yellow);
    color: var(--yellow);
    padding-left: 20px;
    padding-right: 20px;
}