:root
{
    --yellow: #EDE5BB;
    --blue: #00657C;
    --red: #95261F;
}


@font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: "Caveat";
    src: url(../fonts/caveat.regular.ttf);
}



.menuBody
{
    margin: 0;
    background-color: var(--yellow);
}

.bigger
{
    font-size: 22px;
    margin: 0px;
}

.regular
{
    margin-top:0px;
    margin-bottom:35px;
    font-size: 17px;
}

.extraRegular
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}


.koffieDrankenUp
{
    grid-column: 2/3;
    background-color: var(--red);
    border-radius: 30px;
    grid-row: 2/3; 
    font-family: "Circular";
    color: var(--yellow);
}

.koffieContentUp 
{
    grid-column: 2/3;
    grid-row: 2/3; 
    font-family: "Circular";
    color: var(--yellow);
    font-size: 2.5rem;
    text-align:center;
}

.koffieDrankenDown
{
    grid-column: 2/3;
    background-color: var(--red);
    border-radius: 30px;
    grid-row: 4/5;
    padding: 0px 20px;
    padding-top: 10px;
}

.extrasContent
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.koffieContentDown 
{
    grid-column: 2/3;
    grid-row: 4/5; 
    font-family: "Circular";
    color: var(--yellow);
    font-size: 15px;
}






.gebakSnoepUp
{
    grid-column: 4/5;
    background-color: var(--red);
    border-radius: 30px;
    grid-row: 2/3; 
    font-family: "Circular";
    color: var(--yellow);
}

.gebakSnoepDown
{
    grid-column: 4/5;
    background-color: var(--red);
    border-radius: 30px;
    grid-row: 4/5; 
    font-family: "Circular";
    color: var(--yellow);
    padding: 0px 20px;
    padding-top: 10px;
}

.gebakContentUp
{
    grid-column: 4/5;
    grid-row: 2/3; 
    font-family: "Circular";
    color: var(--yellow);
    font-size: 2.5rem;
    text-align: center;
}

.gebakContentDown
{
    grid-column: 4/5;
    grid-row: 4/5; 
    font-family: "Circular";
    color: var(--yellow);
    font-size: 15px;
}


.menuOfDay
{
    display: grid;
    grid-column: 1/6;
    grid-row: 6/7;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 3fr 3fr 0.25fr 0.25fr;
    min-height: auto;
    background-color: var(--red);
    color: var(--yellow);
}

.whiteRowUp
{
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: var(--yellow);
}

.whiteRowDown
{
    grid-column: 1/4;
    grid-row: 5/6;
    background-color: var(--yellow);
}

.menuOfDayContentUp
{
    grid-column: 2/3;
    grid-row: 3/4;
    font-family: "Circular";
    text-align: center;
    font-size: 25px;
    max-height: 10px;
    margin: 5px;
}

.menuOfDayContentDown
{
    grid-column: 2/3;
    grid-row: 4/5;
    font-family: "Circular";
    text-align: center;
    font-size: 25px;
    max-height: 10px;
    margin: 5px;
    padding-bottom: 20px;
}



.backgroundMenu
{
    grid-template-columns: 2fr 4fr 0.75fr 4fr 2fr;
    grid-template-rows: 1fr 0.5fr 0.125fr 5fr 0.125fr 0.4fr 0.5fr;
    display: grid;
    background-color: var(--yellow);
    min-height: 100vh;
    padding: 0px 0px;
}



h1
{
    text-align: center;
    font-size: 3rem;
}

hr
{
    color: var(--red);
}