:root
{
    --yellow: #EDE5BB;
    --blue: #00657C;
    --red: #95261F;
}


@font-face {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: "Caveat";
    src: url(../fonts/caveat.regular.ttf);
}

*
{
    box-sizing:content-box;
}

.menuBody
{
    margin: 0;
}

.bigger
{
    font-size: 20px;
}


/*Linker blok*/
.koffieDrankenUp
{
    grid-column: 2/3;
    background-color: var(--red);
    border-radius: 30px;
    grid-row: 2/3; 
    font-family: "Circular";
    color: var(--yellow);
}

.koffieContentUp /*Tekst*/
{
    grid-column: 2/3;
    grid-row: 2/3; 
    font-family: "Circular";
    color: var(--yellow);
    font-size: 2.5rem;
    text-align:center;
}

.koffieDrankenDown
{
    grid-column: 2/3;
    background-color: var(--red);
    border-radius: 30px;
    grid-row: 4/5;
    padding: 0px 20px;
    padding-top: 10px;
}

.extrasContent
{
    padding-top: 40px;
}

.koffieContentDown /*Tekst*/
{
    grid-column: 2/3;
    grid-row: 4/5; 
    font-family: "Circular";
    color: var(--yellow);
    font-size: 15px;
}


/*End Linker blok*/


/*Rechter blok*/
.gebakSnoepUp
{
    grid-column: 4/5;
    background-color: var(--red);
    border-radius: 30px;
    grid-row: 2/3; 
    font-family: "Circular";
    color: var(--yellow);
}

.gebakSnoepDown
{
    grid-column: 4/5;
    background-color: var(--red);
    border-radius: 30px;
    grid-row: 4/5; 
    font-family: "Circular";
    color: var(--yellow);
    padding: 0px 20px;
    padding-top: 10px;
}

.gebakContentUp /*Tekst*/
{
    grid-column: 4/5;
    grid-row: 2/3; 
    font-family: "Circular";
    color: var(--yellow);
    font-size: 2.5rem;
    text-align: center;
}

.gebakContentDown /*Tekst*/
{
    grid-column: 4/5;
    grid-row: 4/5; 
    font-family: "Circular";
    color: var(--yellow);
    font-size: 15px;
}
/*End Rechter blok*/





.backgroundMenu
{
    grid-template-columns: 2fr 4fr 0.75fr 4fr 2fr;
    grid-template-rows: 1fr 1fr 0.125fr 5fr 0.25fr 0.125fr 0.5fr;
    display: grid;
    background-color: var(--yellow);
    min-height: 100vh;
    padding: 0px 0px;
}

h1
{
    text-align: center;
    font-size: 3rem;
}

hr
{
    color: var(--red);
}