@font-face 
{
    font-family: 'Caveat-Regular';
    src: url('../fonts/caveat.regular.ttf');
}

@font-face 
{
    font-family: 'CircularStd-Book';
    src: url('../fonts/CircularStd-Book.otf');
}

body {
    background-color: hsl(50, 58%, 83%);
}

/* Algemene stijlen voor de review sectie */
.reviewsSection 
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 60px;
    padding: 40px;
    background-color: hsl(50, 58%, 83%)
    justify-content: center;
    max-width: 70vw; /* Beperkt de breedte van de grid */
    margin: 0 auto;
}

/* Review kaarten */
.reviewCard 
{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Caveat-Regular';
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3 ease; /* Vloeiende overgang van 'transform' en 'box-shadow' in 0.3s met 'ease'. */
    max-width: 400px;
    margin: 0 auto;
}

/* Stijl voor header text van review */
.reviewCard > .reviewHeader
{
    display: flex; /* Flexbox inschakelen */
    justify-content: space-between; /* Ruimte tussen de header tekst en rating sterren */
    align-items: center;
    font-size: 25px;
    margin-top: -40px;
    padding-top: 0;
}

.reviewCard > hr
{
    margin: -10px 0;
}

/* Font voor text van Review kaarten */
.reviewCard > .reviewText
{
    font-family: 'CircularStd-Book';
}

/* Kleurcode sterren */
.reviewCard > .reviewHeader > .rating
{
    color: hsl(53, 100%, 50%);
}

.reviewCard > .reviewText > .reviewUser
{
    font-family: 'Caveat-Regular';
    font-size: 20px;
}

/* Wanneer cursor over recensie gaat, gaat de recensie hoveren */
.reviewCard:hover
{
    transform: translateY(-5px);
    box-shadow: 0 6px 15px hsl(0, 0%, 0%, 0.15);
}

.reviewButtons
{
    display: flex;
    grid-column: 1/ -1; /* Strekt zich uit over de kolommen van de grid */
    justify-content: center;
    gap: 20px; /* Ruimte tussen knoppen */
    margin-top: 20px; /* Voegt wat ruimte toe tussen de knoppen en de reviews */
}
.reviewFormulier
{
    padding: 40px;
    font-family: 'CircularStd-Book';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewFormulier > .formulierTitle
{
    display: grid;
    justify-content: center;
}

.reviewFormulier > .userReviewSection form label
{
    display: flex;
    margin-top: 15px;
    font-weight: bold;
}

.reviewFormulier > .userReviewSection form textarea,
.reviewFormulier > .userReviewSection form input
{
    width: 100%;
    max-width: 600px;
    padding: 10px;
    font-size: 16px;
}